*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    height: 60px;
    justify-content: space-between;
    background-color: rgb(6, 6, 102);
    color: white;
    position: sticky;
}
.part-1{
    display: inline-flex;
    justify-content: space-around;
    color: white;
    gap: 25px;
    margin-inline: 2.1%;
    background-color: rgb(6, 6, 102);
}
.part-1 p{
    line-height: 3.205rem;
    gap: 34px;
    font-size: 1.203rem;
    padding-block: 0.5%;
}
.part-2{
    display: flex;
    gap: 20px;
    line-height: 2.204rem;
    padding-block: 0.5%;
}
.part-2 select{
    background-color: rgb(6, 6, 102);
    color: white;
}
.part-2 i{
    line-height: 42px;
}
.second{
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 39px;
  margin-right: 162px;

}
.m-1{
    background-color: red;
    width: 10%;
    color: white;
}
.three{
    display: flex;
    list-style: none;
    height: 39px;
    gap: 39px;
    background-color: aquamarine;
    color: rgb(32, 32, 224);
    line-height: 33px;

}
.three button{
    height: 23px;
    width: 15%;
    border-radius: 20px;
    background-color: rgb(98, 141, 233);
    margin: 7px;
    line-height: 21px;
}
.slider{
    width: 100%;
    height: 600px;
    background-color: aquamarine;
    background-color: 5px solid black;
    margin: 0 auto;
    position: relative;

}
.slide{
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: fade 20s infinite;
    color: white;
    font-size: 3.206rem;
    bottom: 50%;

    
}
.second p{
    position: absolute;
    bottom: 100%;
    margin-bottom: 50%;

}
.slide:nth-child(1){
    background: url(../BCCI-WEB/IMAGE/video-image\ \(1\).jpg)no-repeat center center/cover;
}
.slide:nth-child(2){
    background: url(../BCCI-WEB/IMAGE/video-image\ \(2\).jpg)no-repeat center center/cover;
    animation-delay: 5s;
}
.slide:nth-child(3){
    background: url(../BCCI-WEB/IMAGE/video-image\ \(3\).jpg)no-repeat center center/cover;
    animation-delay: 10s;
}
.slide:nth-child(4){
    background: url(../BCCI-WEB/IMAGE/video-image\ \(4\).jpg)no-repeat center center/cover;
    animation-delay: 15s;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    5%{
        opacity: 1;
    }
    25%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
}
.cover{
    background-color: wheat;
    display: flex;
    /* justify-content: space-between; */
}
.c-text {
    display: flex;

    justify-content: space-between;
    width: 22%;
}
.c-text p{
    display: flex;
    justify-content: space-between;
}
h5{
    display: flex;
    justify-content: flex-end;
    width: 155%;
}
.cover-1{
    padding-top: 5%;
    margin-left: -17%;
 /* line-height: 10%; */
}
.i-text{
    color: aliceblue;
    font-size: 1.101rem;
    display: flex;
    justify-content: space-evenly;
    
}
.img-1 {
    height: 195px;
    width: 69%;
    background-color: blue;
    display: flex;
    border-radius: 11px;
    /* justify-content: space-evenly; */
    /* padding: 10%; */
}
.img-1 img{
    display: flex;
    gap: 10px;
}